.benefits {
  position: relative;
  text-align: center;

  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/bg-intro-triangle-mobile-blue.svg");
    width: 320px;
    height: 26px;
    top: -26px;
    left: 0;
  }
}

.benefits__list {
  @include list-reset;
}

.benefits__content--color-blue {
  background: $color-main;

  .benefits__subtitle {
    @include text-heading;
    color: $text-secondary-color;
  }

  .benefits__number,
  .benefits__info {
    @include text-content;
    color: $text-secondary-color;
  }
}

.benefits__content--color-gray {
  background: $color-main-second;
  border-bottom: 1px solid #e5e5e5;
}

.benefits__content {
  @include push-auto;
  padding: 45px 20px;
}
