.benefits {
  width: 100%;
}

.benefits__list {
  padding: 0;

  @include list-reset;
}

@media (min-width: $tablet-width) {
  .benefits__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.benefits__item {
  background-color: $color-main-second;
}

@media (min-width: $tablet-width) {
  .benefits__item {
    width: 33.33%;
  }
}

.benefits__item--first,
.benefits__item--second {
  background-color: $color-main;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .benefits__item--first,
  .benefits__item--second {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
}

.benefits__content {
  width: 100%;
  padding: 40px 20px;
  margin: 0 auto;
  box-sizing: border-box;
}

@media (min-width: $tablet-width) {
  .benefits__content {
    width: 33%;
    padding: 45px 50px;
    margin: 0;
  }
}

.benefits__item--first {
  .benefits__el {
    width: 100%;
    min-height: 257px;
    background-image: url("../img/main-city-mobile@1x.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@media (min-width: $tablet-width) {
  .benefits__item--first {
    .benefits__el {
      width: 67%;
      min-height: 257px;
      background-image: url("../img/main-city-tablet@1x.jpg");
    }
  }
}

@media (min-width: $desktop-width) {
  .benefits__item--first {
    .benefits__el {
      background-image: url("../img/main-city-desktop@1x.jpg");
    }
  }
}

.benefits__item--second {
  .benefits__el {
    width: 100%;
    background-image: url("../img/photo-bridge-mobile@1x.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@media (min-width: $tablet-width) {
  .benefits__item--second {
    .benefits__el {
      width: 67%;
      min-height: 257px;
      background-image: url("../img/photo-bridge-tablet@1x.jpg");
      order: -1;
    }
  }
}

@media (min-width: $desktop-width) {
  .benefits__item--second {
    .benefits__el {
      background-image: url("../img/photo-bridge-desktop@1x.jpg");
    }
  }
}

.benefits__item--gray {
  border-bottom: 1px solid #e5e5e5;
}

@media (min-width: $tablet-width) {
  .benefits__item--gray {
    padding: 0;
    border-bottom: none;

    .benefits__content {
      width: 100%;
    }
  }
}

.benefits__subtitle {
  @include text-heading;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .benefits__subtitle {
    @include text-heading-tablet;
  }
}

.benefits__number,
.benefits__info {
  padding: 0;

  @include text-content;
}

@media (min-width: $tablet-width) {
  .benefits__number,
  .benefits__info {
    @include text-content-tablet;
  }
}

.benefits__item--first,
.benefits__item--second {
  .benefits__subtitle,
  .benefits__number,
  .benefits__info {
    color: $text-secondary-color;
  }
}
