.contact-group__wrap {
  padding: 10px 0;
  vertical-align: middle;
}

.contact-group__input {
  padding: 20px 0 20px 20px;
  background: $color-secondary;
  @include text-input;
}

.contact-group__label {
  padding: 15px 15px 20px 0;
  @include text-label;
}
