.feedback-form {
  padding: 0 20px;
}

.feedback-form__group {
  margin: 0 auto;
  padding: 45px 0;
  padding-bottom: 1px solid #e5e5e5;
}



.feedback-form__heading {
  @include text-heading;
  margin: 0 auto;
}

.feedback-form__button {
  @include text-submit;
}
