.find-hotel {
  text-align: center;
  padding-bottom: 50px;
}

.find-hotel__content {
  padding: 45px 20px;
}

.find-hotel__subheading {
  @include text-content;
}

// .find-hotel__btn {
  // margin: : 45px 0;
// }
