.like {
  position: absolute;
}

.like::before {
  content: "";
  position: absolute;
  background-image: url("../img/icon-like.svg");
  background-repeat: no-repeat;
  width: 23px;
  height: 21px;
  bottom: 0;
  left: 0;
}

.like__btn {
  padding-left: 40px;
  border: none;
  background-color: $color-background;
}

.like__cont {
  @include text-caption;
}
