.main-nav {
  position: relative;
  min-height: 224px;
  margin: 0 auto;
  padding-bottom: 56px;
}

@media (min-width: $tablet-width) {
  .main-nav {
    min-height: 56px;
    width: auto;
    padding-bottom: 0;
    margin: 0;
  }
}

.main-nav__list {
  @include list-reset;
  padding: 0;
}

.main-nav__toggle {
  position: absolute;
  background-color: $color-main;
  cursor: pointer;
  border: none;
  top: 0;
  right: 0;
  margin-top: 18px;
  margin-right: 20px;

  &:hover {
    background-color: $color-main-hover;
  }

  &:active {
    background-color: $color-main-active;
  }
}

@media (min-width: $tablet-width) {
  .main-nav__toggle {
    display: none;
  }
}

.main-nav__toggle-icon {
  polygon {
    fill: $color-background;

    &:hover {
      fill: #cde1ed;
    }

    &:active {
      fill: #a5c8df;
    }
  }
}

.main-nav__logo {
  position: absolute;
  z-index: 1;
  bottom: -27px;
  left: 50%;
  transform: translateX(-50%);
}

@media (min-width: $tablet-width) {
  .main-nav__logo {
    bottom: -17px;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__logo {
    bottom: -29px;
  }
}
