.more-list__item {
  position: relative;

  @include text-content;
  background-color: $color-background;
}

.more-list {
  @include list-reset;
}

.more-list__content {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 70px;
  text-align: start;
}

.more-list__advantage {
  @include text-heading;
}

.more-list__item--icon1::before {
  content: "";
  position: absolute;
  background-image: url("../img/icon-house.svg");
  width: 37px;
  height: 37px;
  top: 0;
  left: 0;
}

.more-list__item--icon2::before {
  content: "";
  position: absolute;
  background-image: url("../img/icon-gift.svg");
  width: 37px;
  height: 37px;
  top: 0;
  left: 0;
}

.more-list__item--icon3::before {
  content: "";
  position: absolute;
  background-image: url("../img/icon-burger.svg");
  width: 37px;
  height: 37px;
  top: 0;
  left: 0;
}
