.popup__heading {
  @include text-heading;
  color: $text-secondary-color;
  font-size: 21px;
}

.popup__button {
  @include text-heading;
  color: $text-secondary-color;
  background: $color-main;
}
