.promo {
  position: relative;
  height: 390px;
  box-sizing: border-box;
  padding-top: 90px;
  padding-right: 20px;
  padding-left: 20px;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  &::after {
    content: "";
    position: absolute;
    background-image: url("../img/bg-intro-triangle-mobile.svg");
    background-repeat: no-repeat;
    background-position: 50%;
    width: 320px;
    height: 27px;
    bottom: 0;
    margin: 0 auto;
    text-align: center;
  }
}

@media (min-width: $tablet-width) {
  .promo {
    height: 520px;
    padding-top: 75px;
    background-image: url("../img/bg-back-tablet@1x.jpg");

    &::after {
      background-image: url("../img/bg-intro-triangle-tablet.svg");
      width: $tablet-width;
      height: 63px;
    }
  }
}

@media (min-width: $desktop-width) {
  .promo {
    background-image: url("../img/bg-back-desktop@1x.jpg");

    &::after {
      background-image: url("../img/bg-intro-triangle-desktop.svg");
      width: $desktop-width;
    }
  }
}

.promo--extended {
  height: 158px;
  padding-top: 0;
  background-image: url("../img/bg-back-mobile@1x.jpg");

  &::after {
    background-image: url("../img/bg-intro-triangle-desktop.svg");
  }
}

@media (min-width: $tablet-width) {
  .promo--extended {
    height: 292px;

  }
}

// почему то не меняется высота
@media (min-width: $desktop-width) {
  .promo-extended {
    height: 306px;
  }
}

.promo__img {
  width: 0;
}
